<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
    <link href="fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 th:inlines="text">文件上传</h1>
    <form action="fileUpload" method="post" enctype="multipart/form-data">
        <p style="width: 20%;">选择文件: <input id="file" type="file" name="fileName"/></p>
        <p><input type="submit" value="提交"/></p>
    </form>
</body>

<script type="text/javascript"  th:src="@{/jquery/jquery.min.js}"></script>
<script type="text/javascript"  th:src="@{/fileinput/js/fileinput.min.js}"></script>
<script type="text/javascript"  th:src="@{/fileinput/js/locales/zh.js}"></script>
<script type="text/javascript">

    $('#file').fileinput();

</script>

</html>